<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link href="__PUBLIC__/css/common.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" name="id" value="{$user.id}"/>
        </div>
        <div class="col-md-4 lead">
            <ul class="nav nav-tabs common-background" role="tablist">
                <li role="presentation" class="dark-background" id="mantra_sum_tab"><a href="#" onclick="toSum()">持咒统计</a></li>
                <li role="presentation" id="user_info_tab"><a href="#" onclick="toUser()">个人信息</a></li>
            </ul>
            <br>
            <table class="table table-condensed" id="mantra_sum">
                <tbody>
                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">今日持咒</td>
                    <td class="text-left"><strong class="text-success">{$todayNum}</strong></td>
                </tr>
                <!-- 每日目标和完成度 -->
                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">每日目标</td>
                    <if condition="$user['day_goal'] neq null">
                        <td class="text-left"><strong class="text-danger">{$user.day_goal}</strong></td>
                        <else/>
                        <td class="text-left"><strong class="text-danger">-</strong></td>
                    </if>
                </tr>
                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">今日进度</td>
                    <if condition="$user['day_goal'] neq null">
                        <td class="text-left"><strong class="text-info">{$dayGoalPercent}</strong></td>
                        <else/>
                        <td class="text-left"><strong class="text-info">-</strong></td>
                    </if>
                </tr>
                <!-- 每日目标和完成度END -->

                <!-- 持咒总数 -->
                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">持咒总数</td>
                    <td class="text-left"><strong class="text-success">{$user.total}</strong></td>
                </tr>
                <!-- 持咒总数END -->

                <!-- 发愿总数和进度 -->
                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">发愿总数</td>
                    <if condition="$user['goal'] neq null">
                        <td class="text-left"><strong class="text-danger">{$user.goal}</strong></td>
                        <else/>
                        <td class="text-left"><strong class="text-danger">-</strong></td>
                    </if>
                </tr>

                <tr>
                    <td class="text-right">·</td>
                    <td class="text-left">总体进度</td>
                    <if condition="$user['goal'] neq null">
                        <td class="text-left"><strong class="text-info">{$totalGoalPercent}</strong></td>
                        <else/>
                        <td class="text-left"><strong class="text-info">-</strong></td>
                    </if>
                </tr>
                <!-- 发愿总数和进度END -->
                </tbody>
            </table>
            <form class="form-horizontal hide" id="user_info">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户昵称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username" id="username" value="{$user.username}" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">真实姓名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="realname" id="realname" placeholder="真实姓名" value="{$user.realname}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">你的法名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="dharma" id="dharma" placeholder="法名（限灌顶弟子填写）" value="{$user.dharma}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">每日目标</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="day_goal" id="day_goal" placeholder="每日计划数目(可不填写）" value="{$user.day_goal}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">发愿目标</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="goal" id="goal" placeholder="发愿完成总数(可不填写）" value="{$user.goal}"/>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-danger" onclick="updateUserInfo()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;保存信息&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-default" onclick="modifyPassword()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        修改密码
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <button type="button" class="btn btn-default" onclick="logout()">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        退出登录
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </form>

        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/lib/layer/layer.js"></script>
<script src="__PUBLIC__/js/common/dialog.js"></script>
<script src="__PUBLIC__/js/common/ajax.js"></script>
<script type="text/javascript">

    function toSum(){
        $('#mantra_sum').removeClass('hide');
        $('#mantra_sum_tab').addClass('dark-background');
        $('#user_info').addClass('hide');
        $('#user_info_tab').removeClass('dark-background');
    }

    function toUser(){
        $('#user_info').removeClass('hide');
        $('#user_info_tab').addClass('dark-background');
        $('#mantra_sum').addClass('hide');
        $('#mantra_sum_tab').removeClass('dark-background');
    }

    function modifyPassword(){
        window.location.href="{:U('Login/modifyPassword', array('username'=>$user['username']))}";
    }

    function logout(){

        layer.open({
            content : "确定要退出登录?",
            icon:3,
            btn : ['是','否'],
            yes : function(){
                localStorage.ztxm_mlztgx_user = null;
                location.href="{:U('Login/logout')}";
            },
        });
    }

    function updateUserInfo(){
        id = '{$user.id}';
        username = $('#username').val();
        realname = $('#realname').val();
        dharma = $('#dharma').val();
        goal = $('#goal').val();
        day_goal = $('#day_goal').val();
        var aj = $.ajax({
            url: "{:U('Api/User/updateUserInfo')}",
            data: {
                id:id,
                username:username,
                realname:realname,
                dharma:dharma,
                goal:goal,
                day_goal:day_goal
            },
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if( data.error_code ){
                    dialog.error(data.msg);
                }else{
                    dialog.success("保存成功!","{:U('Login/userCenter')}");
                }
            },
            error: function () {
                alert("异常！");
            }
        });
    }

</script>

</body>
</html>