
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>摩利支天共修</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">精进排行</h3>
                </div>
                <div>
                    <div class="list-group">
                        <a href="{:U('Ranklist/todayRanklist')}" class="list-group-item">今日排行</a>
                        <a href="{:U('Ranklist/yesterdayRanklist')}" class="list-group-item">昨日排行</a>
                        <a href="{:U('Ranklist/curMonthRanklist')}" class="list-group-item">本月排行</a>
                        <a href="{:U('Ranklist/totalRanklist')}" class="list-group-item">总排行榜</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询日榜</h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('Ranklist/dayRanklist')}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="date" id="datepicker"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right">查询日榜</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">查询月榜</h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('Ranklist/monthRanklist')}" method="post">
                        <div class="form-group">
                            <select name="year" class="form-control">
                                <option value ="2016" selected = "selected">2016年</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="month" id="month" class="form-control">
                                <option id="month01" value ="01">一月</option>
                                <option id="month02" value ="02">二月</option>
                                <option id="month03" value="03">三月</option>
                                <option id="month04" value="04">四月</option>
                                <option id="month05" value="05">五月</option>
                                <option id="month06" value="06">六月</option>
                                <option id="month07" value="07">七月</option>
                                <option id="month08" value="08">八月</option>
                                <option id="month09" value="09">九月</option>
                                <option id="month10" value="10">十月</option>
                                <option id="month11" value="11">十一月</option>
                                <option id="month12" value="12">十二月</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right">查询月榜</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div><h2>排行榜<small class="pull-right">总数:1111</small></h2></div>
            <table class="table">
                <thead>
                <tr>
                    <th>名次</th>
                    <th>姓名</th>
                    <th>数目</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__PUBLIC__/bootstrap/lib/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>






