<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>补报数目</title>
    <link rel="stylesheet" href="__PUBLIC__/lib/date/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/lib/date/jquery-ui.js"></script>

    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->

    <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });
    </script>
</head>
<body>
<form action="{:U('Supplement/supplementNum')}" method="post">
    <div>
        <div>手机号码</div><div><input name="phone"/></div>
        <div>补报日期</div><div><input type="text" name="date" id="datepicker"/></div>
        <div>补报数目</div><div><input name="num"/></div>
        <div><input type="submit" value="提交"/></div>
    </div>
</form>

</body>
</html>

