.dark-background{
    background-color:#DDCEAC;
}

.common-background{
    background-color:#EFE8D8;
}

.bolder{
    font-weight:bolder;
}

.common-font-color{
    color:#9D804B;
}

.tab-active{

}

.red-hr-line{
    color:#8b0000;
}

.hide{
    display:none;
}
