<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{:C('WEBSITE_TITLE')}</title>
    <script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        body{
            background-color:#EFE8D8;
        }

    </style>
</head>
<body>
<input type="hidden" id="session_userid" value="{$Think.session.userid}"/>
<div class="navbar-wrapper">
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{:U('/Home/Index')}">主页</a></li>
                    <li role="presentation"><a href="{:U('Home/Index/guide')}">入门</a></li>
                    <li role="presentation"><a href="{:U('Countin/addNum')}">报数</a></li>
                    <li role="presentation"><a href="{:U('/Home/Index/yigui')}">仪轨</a></li>
                    <li role="presentation"><a href="{:U('Ranklist/todayRanklist')}">排行</a></li>
                    <if condition="$Think.session.userid gt 0">
                        <li role="presentation"><a href="{:U('Login/userCenter')}">个人</a></li>
                        <else />
                        <li role="presentation"><a href="{:U('Login/login')}">登录</a></li>
                    </if>
                </ul>
            </nav>
            <h1>摩利支天共修{:C('DEV_TITLE')}</h1>
        </div>
        <hr class="featurette-divider">
    </div>
</div>

<script type="text/javascript">

    $(function(){
        session = $("#session_userid").val();
        alert("sessionid=" + session);
        user = localStorage.ztxm_mlztgx_user;
        alert(JSON.stringify(user));
        if( !session && user ){
            $.ajax({
                url: "{:U('Login/autoLogin')}",
                data: {
                    userid : user.id,
                    username : user.username,
                    showname : user.showname
                },
                type: 'post',
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (!data.error_code) {
                        location.reload();
                    }else{
                        localStorage.ztxm_mlztgx_user = null;
                    }
                },
                error: function () {
                    dialog.error("ajax请求失败!");//TODO 正式发布的时候删掉
                }
            });
        }
    });

</script>

</body>
</html>