<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入门</title>
    <link href="__PUBLIC__/css/common.css" rel="stylesheet">
    <style>
        .text{
            font-size:20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>咒语学习</h2>
    <div class="lead text-center">
        <p><strong>纳谟外嘉佑&nbsp;玛哈德哇&nbsp;玛类斯诶吖雅</strong></p>
        <p><strong>纳谟布达雅&nbsp;纳谟达玛雅&nbsp;纳谟桑噶雅</strong></p>
        <p><strong>噢<small>木</small>&nbsp;阿帝塔雅&nbsp;玛类斯<small>诶</small>&nbsp;萨<small>巴</small>哈</strong></p>
        <p class="text-muted">师父教念(慢):</p>
        <audio controls>
            <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_slow.ogg" type="audio/ogg">
            <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_slow.mp3" type="audio/mpeg">
            您的浏览器无法播放此音频,如果是360浏览器,请切换为"极速模式"
        </audio>
        <p class="text-muted">师父教念(快):</p>
        <audio controls>
            <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_fast.ogg" type="audio/ogg">
            <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_fast.mp3" type="audio/mpeg">
            您的浏览器无法播放此音频,如果是360浏览器,请切换为"极速模式"
        </audio>
    </div>

    <h2>本尊功德</h2>
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="__PUBLIC__/Image/marici.jpg"/>
        </div>
        <div class="col-md-7 lead">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                摩利支天菩萨是隐身和消灾的保护神。最殊胜的是隐身成就法和战斗无人能敌及迅猛增加财富的本尊，在本传承是原始第一佛准提王如来的大护法，
                上师吉祥金刚有不共的极密手印和极密观想窍诀及诸事业法，极为殊胜，然此珍贵密法堪称金法，历代祖师从未外传，师言此法非常稀有难得，然不可滥传非器之人，
                否则对行者本身和上师的事业及寿命有很大的影响，修持者必要修持得本尊之验象，才能求后续法要密印，越轨护法空行不容。
                得法师兄们修持倍感加持之迅猛及种种殊胜修法感应，信心坚定。祝愿师兄们早日得证验象，求得后续法要，修持成就，利益众生！护持圣教法脉!
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                摩利支天在道教被称为斗母元君也是太岁星君们的总首领。此天尊威力极大，上管三十六天罡星，下管七十二地煞星，二十八宿皆为此天尊所管。
                所以诚心念诵摩利支天经咒即可消除太岁星曜之害，而能得到消灾免难及如同道教盖魂科仪般的受到隐身保护，
                暂时隐身不让所临星曜所找到而侵逼以及不让冤家债主所找到而加害。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                摩利支天菩萨是毗卢遮那佛的化身，毗卢遮那佛月轮出光，普遍照耀，变成摩利支天菩萨。此是不坏天界，是从十金刚心，入坚忍圣域中的演化，是不二天界。
                菩萨原是帝释天的眷属，常随着日天，在前面疾走如矢，遍巡天下，护持所有的佛弟子。摩利支天菩萨也是大威光之菩萨，也有隐形自任的神通之力，
                被称为战斗之神或忍术的守护神，密号“战威金刚”。
            </p>
        </div>
    </div>

    <h2>传承源流</h2>
        <div class="col-md-5">
            <img class="img-responsive" src="__PUBLIC__/Image/fachuangjingang.jpg"/>
            <br>
            <img class="img-responsive" src="__PUBLIC__/Image/faben.jpg"/>
        </div>
        <div class="col-md-7 lead">
            <p class="text-left">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                因上师吉祥金刚依止其根本上师法幢金刚时年仅十八岁，混沌初开，始闻佛法，只略记其上师说法时对传承的简单叙述，故诸多传承体系未尽详悉，
                在此依上师所忆做简单介绍：
            </p>
            <p class="text-center">
                准提如来【佛母】<br>
                毗卢遮那如来<br>
                金刚手秘密主/文殊菩萨/观音菩萨<br>
                龙树王菩萨/净居天顾素达/龙王难达跋难达龙智尊者<br>
                善无畏尊者/金刚智尊者<br>
                一行尊者/不空金刚<br>
                慧果尊者/惠朗尊者/含光尊者<br>
                义超尊者/惠则尊者/义照尊者<br>
                义真禅师/智藏禅师<br>
                圆绍禅师/志贤禅师<br>
                神暄禅师&nbsp;&nbsp;&nbsp;&nbsp;菩提难陀<br>
                无相不动金刚<br>
                （不动金刚同时承袭了神暄禅师和菩提难陀两部传承）<br>
                惟缄欢喜金刚<br>
                法圆自在金刚<br>
                道贤最胜金刚<br>
                大觉智慧金刚<br>
                慧明无畏金刚<br>
                法照伏魔金刚<br>
                普化贤善金刚   法贤光明金刚<br>
                至尊准提佛母   义清菩提金刚<br>
                （菩提金刚承袭了贤善金刚和光明金刚两部传承）<br>
                阿阇梨法幢金刚<br>
                （法幢金刚除了承袭菩提金刚的教法也获得佛母直接的传承）<br>
                <strong>吉祥金刚</strong>
                <br>
            </p>
            <p class="text-right">
                <a href="http://www.zhunti.net">准提心脉官方网站</a>
            </p>
            <p class="text-right">
                <a href="http://www.zhunti.net/contents/7/32.html">吉祥金刚上师传承的部分主要本尊修法和仪轨</a>
            </p>
        </div>

    </div>
</div>



</body>
</html>