<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入门</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <style>
        .title{
            margin-top:20px;
            font-size:30px;
            font-weight: bold;
            color:#9D804B;
        }

    </style>
</head>
<body>
<div class="title">本尊及传承简介</div>

<div>咒语学习</div>
<div class="mantra">
    <p>纳谟外嘉佑&nbsp;玛哈德哇&nbsp;玛类斯诶吖雅</p>
    <p>纳谟布达雅&nbsp;纳谟达玛雅&nbsp;纳谟桑噶雅</p>
    <p>噢木&nbsp;阿帝塔雅&nbsp;玛类斯诶&nbsp;萨巴哈</p>
    <p>师父教念:</p>
    <audio controls>
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_slow.ogg" type="audio/ogg">
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_slow.mp3" type="audio/mpeg">
        您的浏览器无法播放此音频,如果是360浏览器,请切换为"极速模式"
    </audio>
    <p>师父教念(快):</p>
    <audio controls>
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_fast.ogg" type="audio/ogg">
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mantra_teach_fast.mp3" type="audio/mpeg">
        您的浏览器无法播放此音频,如果是360浏览器,请切换为"极速模式"
    </audio>
</div>

<div>本尊功德</div>
<div>
    <img src="{:U('__PUBLIC__Image/marici.jpg')}" class="img"/>
    <div class="text">
        <p>
            摩利支天菩萨是隐身和消灾的保护神。最殊胜的是隐身成就法和战斗无人能敌及迅猛增加财富的本尊，在本传承是原始第一佛准提王如来的大护法，
            上师吉祥金刚有不共的极密手印和极密观想窍诀及诸事业法，极为殊胜，然此珍贵密法堪称金法，历代祖师从未外传，师言此法非常稀有难得，然不可滥传非器之人，
            否则对行者本身和上师的事业及寿命有很大的影响，修持者必要修持得本尊之验象，才能求后续法要密印，越轨护法空行不容。
            得法师兄们修持倍感加持之迅猛及种种殊胜修法感应，信心坚定。祝愿师兄们早日得证验象，求得后续法要，修持成就，利益众生！护持圣教法脉!
        </p>
        <p>
            摩利支天在道教被称为斗母元君也是太岁星君们的总首领。
        </p>
        <p>
            此天尊威力极大，上管三十六天罡星，下管七十二地煞星，二十八宿皆为此天尊所管。
        </p>
        <p>
            所以诚心念诵摩利支天经咒即可消除太岁星曜之害，而能得到消灾免难及如同道教盖魂科仪般的受到隐身保护，
            暂时隐身不让所临星曜所找到而侵逼以及不让冤家债主所找到而加害。
        </p>
        <p>
            摩利支天菩萨是毗卢遮那佛的化身，毗卢遮那佛月轮出光，普遍照耀，变成摩利支天菩萨。此是不坏天界，是从十金刚心，入坚忍圣域中的演化，是不二天界。
            菩萨原是帝释天的眷属，常随着日天，在前面疾走如矢，遍巡天下，护持所有的佛弟子。摩利支天菩萨也是大威光之菩萨，也有隐形自任的神通之力，
            被称为战斗之神或忍术的守护神，密号“战威金刚”。
        </p>
        <p>
            摩利支天菩萨，身是金色，是化身女相，如天女，身着白衣，顶戴宝塔冠，左手天扇，右手与愿印。有的绘坐金色猪身上，其周围又有群猪围绕。
        </p>
        <p>
            这种形象就是道教的斗母星君相。斗母星也守护着太阳，其侧面也有猪脸，可见道家的斗母星君即是释迦牟尼佛口中的摩利支天菩萨。
        </p>
    </div>
</div>

<div>法脉传承</div>
<div>
    <img src="{:U('__PUBLIC__/Image/asheli.jpg')}"/>
    <p>
        释传藏法师，密号：吉祥金刚。俗姓赵，祖籍辽宁省辽阳市安平镇。生于1971年2月初2，龙抬头之日。师宿缘深厚，
        出生时即眉长过颧、眼明能视、神清能知，常睹物凝神呀呀自言佛语。幼聪慧，常喜画多头多臂佛像，旁人不解便告之曰佛；
        至六、七岁便常爬至山顶，于大石上打坐，被家人寻回则谓之要成佛；八岁亦能塑泥为佛藏于屋后，采山花、折野草为香供养令人称奇；
        十五岁时即已画成大威德金刚像，迥异常儿。　
    </p>
    <p>
        师18岁时家贫辍学，于此年1988年6月19日在辽源市弥陀寺皈依三宝。同年7月，师赴双辽市郑家屯表姐家访亲，在此巧遇唐密隐传法脉--准提心脉第二十二代祖师法幢金刚阿阇梨。
        法幢阿阇梨亦知师资质聪慧，为大乘行者乘愿再来，乃荷担如来家业之法器也，历时百日，将隐传千载之教法彻瓶传受。令师继其衣钵，确认为准提心脉第二十三代传灯阿阇梨，
        赐密号“吉祥金刚”，授其诸信物，并获祖师诸多授记预言。祖师法幢金刚阿阇梨委以师之使命，并嘱师：“法脉弘扬时机已渐成熟，当再兴唐密教法于华夏”。
        准提心脉为龙树菩萨之唐密隐传法脉。自龙树菩萨至今，法脉从未间断。唐武宗会昌法难后仍有含光、义超、惠则、义照等祖师以方便善巧示现，继续传承法脉。
        自义超、惠则、义照等祖师后传承至义真、智藏禅师，隐秘于禅林，形成禅密融合的独特密法。历代祖师外禅内密，隐忍修持，代代口耳相传。
    </p>
    <p>
    　   1990年师开始闭关，闭关期间感得本初佛大准提王如来秘密灌顶，得稀有大加持。于出关后按定中示现亲绘七俱胝准提王如来圣像，其像殊胜绝伦如佛亲现。
    </p>
    <p>
        1993年，师于金顶毗卢派唐密遗法祖庭--宝阁寺上果下靖和上亲下法两位老和尚处，亲传得受密要心法并得受衣钵传承。金顶毗卢派外禅内密，显密圆融。
        “毗卢”是梵文译音“毗卢遮那”的简称，意译为“光明普照”、“大日如来”等。密宗视“毗卢遮那佛”为“大日如来”，是理智不二的法身佛。
        金顶毗卢派由开宗祖师宝誌禅师演派二十八字：“宝树成行德莲香，志愿极乐怀安养。紫金宪古永远在，毗卢性海万事昌。”后由昌海禅师续演四十字：
        “闻定静宗道，慈福真法德。正善印义祖，普弘信玄妙。崇现本来少，性空圆明照。思修常安果，亲传无为教”。传藏法师自果靖、亲法老和尚之后为“传”字辈。
    </p>
    <p>
        2002年2月8日，师剃度出家，云游修学，广参名山大德道心益进。
    </p>
    <p>
        2005年5月7日，师在扬州高旻寺依上德下林大和尚受具足戒。
    </p>
    <p>
        2006年师遵祖师授记赴南方弘法，住锡福建省罗源县翠峰禅寺。4月，师于福州吉祥精舍梦受茫莽髻大金刚母教法。
        后，在诸弟子祈请下，观末法当机，广弘准提，受法弟子中获大加持得感应者不计其数。
    </p>
    <p>
        2009年7月，师观北方弘法时机已逐渐成熟，应北方弟子祈请，赴河北省石家庄市元氏县蟠龙寺传准提法和秽迹金刚法。
        观个别因缘再传大悲法、尊胜法、并举行唐密护摩法会，受法弟子千余人，盛况空前。
    </p>
    <p>
        2010年6月，师在北京、河北等众多弟子之殷切祈请下驻锡河北省石家庄市鹿泉市吉祥禅寺。
    </p>
    <p>
        师驻锡吉祥禅寺后，定期举行祈福、放生、护摩、超度等法会，大力弘扬唐密准提心脉和金顶毗卢派教法。至今，
        师已传唐密准提、秽迹、大悲、尊胜、药师、军茶利、马头明王、爱染明王、摩利支、大黑天、伽蓝菩萨、难陀跋难陀龙王、
        净居天顾素达、虎威天女、大黑圣母等诸本尊及护法修法。普降佛法甘露，饶益有情众生。
    </p>
    <p>
        上传下藏法师身兼两支殊胜法脉，传承如来金刚智种续佛慧命使命在肩。师发大愿，行菩提行。
        志在吉祥禅寺建立准提王如来的曼荼罗及根本道场，将汉传密法宗脉和金顶毗卢派教法发扬光大。
    </p>
    <p>
        弟子：金刚幢&nbsp;菩提幢&nbsp;如意幢&nbsp;道果幢&nbsp;毗卢幢等记
    </p>
    <p><a href="http://www.zhunti.net/contents/3/1.html">准提心脉法脉传承源流</a></p>
    <p><a href="http://www.zhunti.net/contents/4/2.html">佛教禅宗之金顶毗卢派传承略述</a></p>
    <p><a href="http://www.zhunti.net/contents/7/32.html">吉祥金刚上师传承的部分主要本尊修法和仪轨</a></p>
</div>

</div>
<div></div>
</body>
</html>