<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C('WEBSITE_TITLE')}</title>
    <style>
        .align-center{
            text-align:center;
        }
    </style>
</head>
<body>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>丙申年亿遍摩利支天身咒护国共修</h1>
        <p>
            随着5月12日摩利支天护摩法会圆满结束，经吉祥寺僧团商议，阿阇梨欣然首肯，吉祥寺邀请四众弟子再次举行摩利支天亿遍身咒大共修。将佛法利人利国等慈悲的根本精神深入的贯彻落实下去。
            名是护国，实是利己。佛法和我们自身的发展永远离不开家国的兴衰。护国息灾也不是一场法会和一句口号，而是伴随着我们菩提心的发起将永远为之努力的信念！
        </p>
        <div class="row lead text-center">
            <div class="col-md-4">已完成&nbsp;<strong class="text-success">{$stageGXTotalNum}</strong></div>
            <div class="col-md-4">未完成&nbsp;<strong class="text-danger">{$stageGXRequireNum}</strong></div>
            <div class="col-md-4">总进度&nbsp;<strong class="text-info">{$stageGXPercent}%</strong></div>
        </div>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <div class="row align-center">
        <div class="col-md-3" onclick="toGuide()">
            <img class="img-circle" src="__PUBLIC__/Image/index/guide-icon.png" alt="" width="140" height="140">
            <h2>入门导引</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3" onclick="toAddNum()">
            <img class="img-circle" src="__PUBLIC__/Image/index/add-icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>每日报数</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3" onclick="toYigui()">
            <img class="img-circle" src="__PUBLIC__/Image/index/yigui-icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>共修仪轨</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3" onclick="toRanklist()">
            <img class="img-circle" src="__PUBLIC__/Image/index/rank-icon.png" alt="Generic placeholder image" width="140" height="140">
            <h2>精进排行</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- 3个图标 -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">为什么要修摩利支天?<span class="text-muted"></span></h2>
            <p class="lead">
                修持摩利支天菩萨法门具足息灾、增益、怀爱及降伏四法之功德，能满足行者所求种种正确及善性之心愿。譬如修持者不会被别人诈骗其财物，亦不会被人捉縳囚禁，
                亦或被与行者有仇怨之人加害。其它如治病（肉体上四大不调之病及灵界病）、护身（防止一切毒丸虫恶兽及人与非人之侵害）、求聪明长寿、求辩论得胜、求降雨、
                求福、求子女等等，莫不一一灵验应心，具如经中所说，功德赞不能尽。
            </p>
            <p class="lead">
                摩利支天法在中国汉地的痕迹最早可以追溯到南北朝时期，后来经过唐宋时代，随着来汉地的梵僧大德翻译的摩利支天经典越来越多，而对他的信仰也就越广泛，被皇家列为护国护民的最胜信仰的代表，当时汉地寺院大都供奉她，其信仰之广、威德灵感之迅速甚至融入到道教之中，位尊诸星之母的“斗姆元君”。</p>
            <p class="lead">
                依密教所传，摩利支天为准提王如来的根本大护法。修习摩利支天法，如果得到成就，其最大功能是消灾与隐身。依《大摩里支菩萨经》所载，此尊‘能令有情在道路中隐身、众人中隐身。水、火、盗贼一切诸难皆能隐身。’如能赤诚依法修持，则一切天魔恶鬼外道，都无法觅得修法者的行踪。除此之外，还有息灾、增益、降伏等作用，各法均有不可思议之感应。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="__PUBLIC__/Image/marici.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">为什么要修准提心脉的传承?<span class="text-muted"></span></h2>
            <p class="lead">
                正本清源,汉传密教本土隐传,非唐密回传
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="__PUBLIC__/Image/asheli.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">为什么要共修?<span class="text-muted"></span></h2>
            <p class="lead">
                按照经论记载，尤其据《俱舍论》中教证指示，如有三人一起造了杀人的恶业，这三人都得到同等的杀人业果；或如有三人一起建造一座佛塔，
                每人最后都得到建造一座佛塔的功德。众志成城，业山可移，千万人同心熏修，其修力必为千万人共修之力，纵然日可冷、月可热、山可崩、海可竭，
                此共修缘起之力决无空耗之理。诸位佛子应发信解，决定信此大众共修之力过于凡夫一人独修之力百千万倍。因此参加共修活动者，每个人都将获得共修总数的功德，
                这是一人独修多生累世中都很难获得的殊胜善根。
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="__PUBLIC__/Image/gongxiu.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">

    (function(){

        var state = '{$state}';

        Dom = {
            video : document.getElementById("video"),
            countdownBox: $('#countdown_wrapper'),
            remainSeconds :$('#remain_seconds')
        };

        if( state == "ready" ){
            var remainSeconds = parseInt('{$countdownSeconds}');
            countDown(remainSeconds);
        }else if( state == "started" ){
            var begTime = parseInt('{$begTime}');
            playFromBegTime(begTime);
        }

        function countDown(remainSeconds){
            $('#video_wrapper').hide();
            Dom.countdownBox.show();
            var i = setInterval(function() {
                if( remainSeconds <= 0 ){
                    Dom.video.play();
                    clearInterval(i);
                    Dom.countdownBox.hide();
                    $('#video_wrapper').show();
                }else{
                    Dom.remainSeconds.html(remainSeconds);
                    remainSeconds -= 1;
                }
            }, 1000);
        }

        function playFromBegTime(begTime){
            video.play();
            video.currentTime = begTime;
        }

    })();

    function toGuide(){
        window.location.href = "{:U('Home/Index/guide')}";
    }
    function toAddNum(){
        window.location.href = "{:U('Countin/addNum')}";
    }
    function toYigui(){
        window.location.href = "{:U('/Home/Index/yigui')}";
    }
    function toRanklist(){
        window.location.href = "{:U('Ranklist/todayRanklist')}";
    }

</script>

</body>
</html>