<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>丙申年亿遍摩利支天身咒护国共修</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/lib/jquery-3.0.0.min.js"></script>
    <script src="__PUBLIC__/lib/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #EFE8D8;
        }
    </style>
</head>
<body>
<div class="container">
    <audio controls id="audio" preload="auto">
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mlztgx.ogg" type="audio/ogg">
        <source src="http://ztxmgx.oss-cn-beijing.aliyuncs.com/mlzt/mlztgx.mp3" type="audio/mpeg">
        您的浏览器无法播放此音频,请直接用微信或QQ浏览器
    </audio>
    <div class="jumbotron" id="hint_wrapper" style="background-color:#EFE8D8;">
        <h1 class="text-center">丙申年亿遍摩利支天身咒护国共修</h1>
        <p class="text-center">每天&nbsp;&nbsp;{$everyDayStartTime}&nbsp;&nbsp;开始共修,请提前5分钟入场</p>
    </div>
    <div class="jumbotron" id="countdown_wrapper" style="background-color:#EFE8D8;">
        <h1 class="text-center">距共修开始:<strong id="remain_seconds"></strong></h1>
    </div>
    <div class="progress" id="play_bar_wrapper">
        <div id="play_bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100"><span class="sr-only"></span></div>
    </div>
    <div class="content lead text-center" id="text_page">
        <br>
        <h2 class="text-center">聖摩利支天护国息灾共修仪轨</h2>
        <br>
        <p>纳谟外嘉佑 玛哈德哇 玛类斯诶吖雅</p>
        <h3 class="text-left">皈依：</h3>
        <p>稽首皈命佛&nbsp;&nbsp;&nbsp;说法度群迷</p>
        <p>稽首皈命法&nbsp;&nbsp;&nbsp;解脱三有苦</p>
        <p>稽首皈命僧&nbsp;&nbsp;&nbsp;无漏胜福田</p>
        <p>如是圣三宝&nbsp;&nbsp;&nbsp;尽形寿皈依</p>
        <br/>
        <p>纳谟布达雅 纳谟达玛雅 纳谟桑噶雅&nbsp;【真言三遍】</p>
        <br/>
        <p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;弟子众等&nbsp;一心皈命本尊&nbsp;大圣摩利支天&nbsp;北辰妙见菩萨&nbsp;及北斗七星诸圣眷属&nbsp;惟愿诸尊圣众&nbsp;统帅无量眷众&nbsp;显大威神&nbsp;加护国体&nbsp;&nbsp;恃凭尊等威德&nbsp;令我中华人民共和国&nbsp;国界安宁&nbsp;边疆稳固&nbsp;现前滋扰&nbsp;宿敌怨障&nbsp;悉皆摧碎&nbsp;无敢再犯&nbsp;</p>
        <br/>
        <h3 class="text-left">本尊赞 ：</h3>
        <p>稽首摩利支&nbsp;&nbsp;&nbsp;大圣神通力</p>
        <p>统帅北斗众&nbsp;&nbsp;&nbsp;诸天星宿聚</p>
        <p>能灭一切害&nbsp;&nbsp;&nbsp;护国胜无敌</p>
        <p>最胜阳焰天&nbsp;&nbsp;&nbsp;我今皈命礼</p>
        <br/>
        <p>噢
            <small>木</small>
            阿帝塔雅 玛类斯
            <small>诶</small>
            萨
            <small>巴</small>
            哈&nbsp;【尽力持诵】
        </p>
        <h3 class="text-left">祈愿：</h3>
        <p>恳祈胜加持&nbsp;&nbsp;&nbsp;愿尊我一心</p>
        <p>赐大胜威权&nbsp;&nbsp;&nbsp;护国息灾疫</p>
        <h3 class="text-left">圣眷赞：</h3>
        <p>稽首妙见士&nbsp;&nbsp;&nbsp;北斗星宿尊</p>
        <p>大威德息灾&nbsp;&nbsp;&nbsp;皈命我赞礼</p>
        <h3 class="text-left">回向：</h3>
        <p>皈命摩利支&nbsp;&nbsp;&nbsp;三密速加持</p>
        <p>如尊大自在&nbsp;&nbsp;&nbsp;我亦具如是</p>
        <p>祈尊敕眷众&nbsp;&nbsp;&nbsp;显圣护国威</p>
        <p>不令国界险&nbsp;&nbsp;&nbsp;尽破诸贼敌</p>
        <p>虔诚赞我主&nbsp;&nbsp;&nbsp;最胜大无畏</p>
        <p>常覆护国体&nbsp;&nbsp;&nbsp;仇怨悉灭摧</p>
        <p>祈赐圣国主&nbsp;&nbsp;&nbsp;常当圣加持</p>
        <p>民众悉归心&nbsp;&nbsp;&nbsp;和合无歧意</p>
        <p>善哉摩利支&nbsp;&nbsp;&nbsp;赐国运昌盛</p>
        <p>唯于我等愿&nbsp;&nbsp;&nbsp;祈垂胜悉地</p>
        <h3 class="text-left">回向词：</h3>
        <p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;将此共修功德回向&nbsp;中华人民共和国&nbsp;&nbsp;国运昌盛&nbsp;国界安宁&nbsp;边疆稳固&nbsp;现前滋扰&nbsp;宿敌怨障&nbsp;悉皆摧碎&nbsp;无敢再犯&nbsp;。回向一切众生离苦得乐&nbsp;佛法久住，法轮常转；祈愿大恩上师吉祥金刚阿阇梨及所有高僧大德、法体康健、长久住世。</p>
        <p class="text-right">吉祥圆满</p>
    </div>
</div>

<script type="text/javascript">
    firstPlay = true;

    (function () {
        Dom = {
            audio: document.getElementById("audio"),
            countdownBox: $('#countdown_wrapper'),
            remainSeconds: $('#remain_seconds'),
            playBar: $('#play_bar_wrapper')
        };

        Dom.countdownBox.hide();
        Dom.playBar.hide();
        var state = '{$state}';
        if (state == "ready") {
            var remainSeconds = parseInt('{$countdownSeconds}');
            countDown(remainSeconds);
        } else if (state == "started") {
            var begTime = parseInt('{$begTime}');
            Dom.audio.oncanplay = playFromBegTime(begTime);
//                playBar();
        }

        function countDown(remainSeconds) {
            Dom.countdownBox.show();
            var i = setInterval(function () {
                if (remainSeconds <= 0) {
                    Dom.audio.play();
                    clearInterval(i);
                    Dom.countdownBox.hide();
                    $('#video_wrapper').show();
                } else {
                    Dom.remainSeconds.html(remainSeconds);
                    remainSeconds -= 1;
                }
            }, 1000);
        }

        function playFromBegTime(begTime) {
            Dom.audio.play();
            Dom.audio.currentTime = begTime;
            alert(begTime);
            alert(Dom.audio.currentTime);
        }

        function playBar() {

            var totalTime = parseInt('{$totalTime}');
            var curTime;
            var progress;
            Dom.playBar.show();

            //1秒钟更新1次进度条
            var itv = setInterval(function () {
                curTime = parseInt(Dom.audio.currentTime);
                progress = parseFloat(curTime / totalTime * 100);
                if (progress > 99.9) {
                    clearInterval(itv);
                    alert("共修吉祥圆满,去报个数吧~");
                    window.location.href = "{:U('Countin/addNum')}";
                } else {
                    $("#play_bar").css("width", progress + "%");
                }
            }, 1000);
        }

    })();


</script>
</body>
</html>