<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报数</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 lead">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">上报持咒数目<small>&nbsp;系统自动统计每日数目</small></h2>
                </div>
                <div class="panel-body">
                    <div><input type="hidden" id="userid" value="{$userid}"/></div>
                    <div class="lead text-center">今日：<strong class="text-danger">{$todayNum}</strong></div>
                    <div class="lead text-center">总数：<strong class="text-danger">{$total}</strong></div>
                    <div class="form-group">
                        <label>数目:</label>
                        <input type="text" class="form-control" id="num" name="num" placeholder="建议每天随修随报">
                    </div>
                    <div class="form-group text-center">
                        <div>
                            <button type="button" class="btn btn-danger" onclick="addNum()">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                报&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </button>
                        </div>
                        <a href="{:U('Countin/supplement')}" class="pull-right"><small>补报</small></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/lib/layer/layer.js"></script>
<script src="__PUBLIC__/js/common/dialog.js"></script>
<script src="__PUBLIC__/js/common/ajax.js"></script>
<script type="text/javascript">
    function addNum(){
        userid = $('#userid').val();
        num = $('#num').val();
        url = "{:U('Api/Countin/addNum')}";
        data = {
            userid:userid,
            num:num
        };
        myAjax(url, data, succFunc, errorFunc );
    }

    function succFunc(data){
        dialog.success(data.msg,"{:U('Login/userCenter')}");
    }

    function errorFunc(data){
        dialog.error(data.msg);
    }

</script>
</body>
</html>