<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>补报数目</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/date/jquery-ui.css">
    <script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
    <script src="__PUBLIC__/lib/date/jquery-ui.js"></script>
    <script src="__PUBLIC__/lib/layer/layer.js"></script>
    <script src="__PUBLIC__/js/common/dialog.js"></script>
    <script src="__PUBLIC__/js/common/ajax.js"></script>
    <style>
        .wrapper{
            text-align:center;
        }
    </style>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker();
        });

        function supplementNum(){
            userid = $('#userid').val();
            num = $('#num').val();
            date = $('#date').val();
            alert(date);
            url = "{:U('Api/Countin/supplementNum')}";
            data = {
                userid:userid,
                num:num,
                date:date,
                apikey:"{:C('API_ACCESS_KEY')}"
            };
            myAjax(url, data, succFunc, errorFunc );
        }

        function succFunc(data){
            dialog.success(data.msg,"{:U('Login/userCenter')}");
        }

        function errorFunc(data){
            dialog.error(data.msg);
        }

    </script>
</head>
<body>
<div class="wrapper">
    <input type="hidden" name="userid" id="userid" value="{$userid}"/>
    <div>补报日期</div><div><input type="text" name="date" id="datepicker"/></div>
    <div>补报数目</div><div><input name="num"/></div>
    <div><input type="button" value="提交" onclick="supplementNum()"/></div>
</div>

</body>
</html>